/*
*
* Device Tree Source for RCM MB115.05 extention board ( Video Capture Board )
*
*/
/ {
	plb {
		lsif1 {
			i2c0: i2c@0x3C05A000 {
				status = "ok";

				// HDMI graber, channel 0
				adv7611_0: adv7611@4c {
					default-input = <0>;
					sample-alsb = <1>;
					compatible = "adi,adv7611";
					reg = <0x4c>, <0x42>, <0x40>, <0x3e>, <0x38>, <0x3c>, <0x26>, <0x32>, <0x36>, <0x34>, <0x30>, <0x22>, <0x24>;
					reg-names = "main",  "avlink","cec","infoframe","esdp", "dpp", "afe", "rep", "edid", "hdmi", "test", "cp", "vdp";
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						hdmi: endpoint_0 {
							hsync-active=<1>;
							vsync-active=<1>;
							pclk-sample=<1>;
						};
					};
				};

				// HDMI graber, channel 1
				adv7611_1: adv7611@4d {
					default-input = <0>;
					compatible = "adi,adv7611";
					reg = <0x4d>, <0x43>, <0x41>, <0x3f>, <0x39>, <0x3d>, <0x27>, <0x33>, <0x37>, <0x35>, <0x31>, <0x23>, <0x25>;
					reg-names = "main",  "avlink","cec","infoframe","esdp", "dpp", "afe", "rep", "edid", "hdmi", "test", "cp", "vdp";
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						hdmi_1: endpoint_1 {
							hsync-active=<1>;
							vsync-active=<1>;
							pclk-sample=<1>;
						};
					};
				};
			};
		};

		mms {
			vdu_grabber_int0: vdu_grabber@0x38015000 { // (capture from fb1)
				status = "okay";
			};

			vdu_grabber_ext0: vdu_grabber@0x38016000 { // EXT0
				status = "okay";
			};

			vdu_grabber_int1: vdu_grabber@0x3801b000 { // (capture from fb0)
				status = "okay";
			};

			vdu_grabber_ext1: vdu_grabber@0x3801c000 { // EXT1
				status = "okay";
			};
		};
	};
};
