/*
*
* Device Tree Overlay Example for RCM MB115.04 extention board (Video only)
*
*/
/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			// HDMI channel 0 for DRM drivers
			hdmi-out0 {
				compatible = "hdmi-connector";
				type = "a";

				port {
					hdmi_con0: endpoint {
						remote-endpoint = <&adv7513_0_out>;
					};
				};
			};

			// HDM channel 1 for DRM drivers
			hdmi-out1 {
				compatible = "hdmi-connector";
				type = "a";

				port {
					hdmi_con1: endpoint {
						remote-endpoint = <&adv7513_1_out>;
					};
				};
			};
		};
	};

	fragment@1 {
		target-path = "/plb/lsif1/i2c@0x3C05A000";
		__overlay__ {
			status = "ok";
			#address-cells = <1>;
			#size-cells = <0>;

			// HDMI channel 0 for DRM drivers
			hdmi@39 {
				compatible = "adi,adv7513";
				reg = <0x39>, <0x29>, <0x49>, <0x59>;
				reg-names = "main", "cec", "edid", "packet";

				adi,input-depth = <8>;
				adi,input-colorspace = "yuv444";
				adi,input-clock = "1x";
				adi,input-style = <1>;
				adi,input-justification = "evenly";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						adv7513_0_in: endpoint {
							remote-endpoint = <&vdu_out_rgb0>;
						};
					};

					port@1 {
						reg = <1>;
						adv7513_0_out: endpoint {
							remote-endpoint = <&hdmi_con0>;
						};
					};
				};
			};

			// HDMI channel 1 for DRM drivers
			hdmi@3d {
				compatible = "adi,adv7513";
				reg = <0x3d>, <0x2d>, <0x6d>, <0x5d>;
				reg-names = "main", "cec", "edid", "packet";

				adi,input-depth = <8>;
				adi,input-colorspace = "yuv444";
				adi,input-clock = "1x";
				adi,input-style = <1>;
				adi,input-justification = "evenly";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						adv7513_1_in: endpoint {
							remote-endpoint = <&vdu_out_rgb1>;
						};
					};

					port@1 {
						reg = <1>;
						adv7513_1_out: endpoint {
							remote-endpoint = <&hdmi_con1>;
						};
					};
				};
			};
		};
	};

	fragment@2 {
		target-path = "/plb/mms/vdu@38013000";
		__overlay__ {
			status = "ok";
			output-color-space = "yuv444";
			max-width = <1280>;
			max-height = <720>;
			ports {
				port@0 {
					vdu_out_rgb0: endpoint@0 {
						remote-endpoint = <&adv7513_0_in>;
					};
				};
			};
		};
	};

	fragment@3 {
		target-path = "/plb/mms/vdu@38011000";
		__overlay__ {
			status = "ok";
			output-color-space = "yuv444";
			max-width = <1280>;
			max-height = <720>;
			ports {
				port@0 {
					vdu_out_rgb1: endpoint@0 {
						remote-endpoint = <&adv7513_1_in>;
					};
				};
			};
		};
	};
};
