/*
 * Device Tree Source for RCM MT143-05 mainboard
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without
 * any warranty of any kind, whether express or implied.
 */

#include "1888bc048.dtsi"

/ {
	model = "RC-Module 1888BC048 (Basis) SoC";

	aliases {
		uart0 = &uart0;
		mmc0 = &mmc0;
	}; 

	chosen {
		// bootargs = "console=ttyRCM0,6250000 earlyprintk debug  memblock=debug";
		// bootargs = "console=ttyRCM0,6250000 earlyprintk debug rootwait";
		// bootargs = "console=ttyRCM0,6250000 root=/dev/mmcblk0p1 rootwait";
		stdout-path = &uart0;
	};

	// 2Gib at 0x80000000
	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	// 1Gib at 0xC0000000
	memory@C0000000 {
		device_type = "memory";
		reg = <0xC0000000 0x40000000>;
	};

	apbs0 {
		thermal: thermal {
			status = "ok";
		};

		ccan0: c_can@01020000 {
			status = "ok";
		};

		ccan1: c_can@01028000 {
			status = "ok";
		};
	};

	apbs1 {
		spi@01040000 {
			// status = "ok";
			cs-gpios = <&gpio0 5 0>;
			num-cs = <1>;

			spi_flash0@0 {
				compatible = "st,w25q32", "spi-flash";
				reg = <0>;
				spi-max-frequency = <1000000>;
				spi-cpol;
				spi-cpha;
			};
		};

		spi@01041000 {
			// status = "ok";
		};

		mmc0: mmc0@01042000 {
			status = "ok";
			cd-gpios = <&gpio0 3 0>; // GPIO0<3>
		};

		mmc1: mmc1@01043000 {
			status = "ok";
			cd-gpios = <&gpio0 4 0>; // GPIO0<4>
		};

		uart0: uart0@01044000 {
			status = "ok";
		};

		mdma_uart0: dma@01044100 {
			status = "ok";
		};

		uart1: uart1@01045000 {
			status = "ok";
		};

		mdma_uart1: dma@01045100 {
			status = "ok";
		};

		i2c0: i2c@0x01046000 {
			status = "ok";

			eeprom@50 {
				compatible = "microchip,24c64", "atmel,24c64";
				reg = <0x50>;
				pagesize = <32>;
				address-width = <16>;
				size = <8192>;
			};
		};

		timer01@01048000 {
			status = "ok";
		};

		timer23@01049000 {
			// status = "ok";
		};

		timer45@0104a000 {
			// status = "ok";
		};

		timer67@0104b000 {
			// status = "ok";
		};

		pcie_epc@0x01058000 {
			status = "ok";
		};

		pcie@0x01058000 {
			status = "ok";
		};
	};

	apbs2 {
		wd@0108f000 {
			status = "ok";
		};

		gpio0: gpio0@01088000 {
			status = "ok";
		};

		gpio1: gpio1@01089000 {
			status = "ok";
		};

		gpio2: gpio0@0108a000 {
			status = "ok";
		};

		gpio3: gpio0@0108b000 {
			status = "ok";
		};

		gpio4: gpio0@0108c000 {
			status = "ok";
		};
	};

	axi32 {
		L2: l2-cache-controller@0x01106000 {
			status = "ok";
		};	
	};

	thermal-zones {
		cpu-thermal {
			polling-delay-passive = <0>;
			polling-delay =  <1000>;
			thermal-sensors = <&thermal>;

			trips {
				cpu-crit {
					temperature = <100000>;
					hysteresis = <0>;
					type = "critical";
				};
			};

			cooling-maps {
			};
		};
	};
};

// Ethernet
#include "mt143-02.dtsi"

